<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TrendInTestSuite" allow-return-values="true">
 <test name="EndToEnd">
  <groups>
   <run>
    <include name="Scenario" />
   </run>
  </groups>
  <classes>
   <class name="com.trendin.tests.TestEndToEnd" />
  </classes>
 </test>
</suite>